extends layout

block content
  .container(ng-controller='mainController')
    // HEADER AND EVENT COUNT
    .jumbotron.text-center
      h1
        | Number of detected events
        span.label.label-info {{ events.length }}
    // EVENT LIST
    #event-list.row
      .col-sm-4.col-sm-offset-4
        // LOOP OVER THE events IN $scope.events
        .checkbox(ng-repeat='event in events')
          label
            input(type='checkbox', ng-click='deleteEvent(event._id)')
            |  {{ event.date }}
