extends layout

block content
  .container(ng-controller='mainController')
    .row
    //Banner
    .jumbotron.text-center
      h1
        | PiCamera 
        span.label.label-info {{ events.length }}
    
    
    .row
      //Menu Column
      .col-md-2
        include ./index/_menu.jade
      
      //Content Column
      .col-md-10  
        include ./index/_event_row.jade
        .no-events.text-center(ng-hide="events.length") No Events
