extends layout

block content
  .container(ng-controller='mainController')
    .jumbotron.text-center
      h1
        | Number of detected events 
        span.label.label-info {{ events.length }}

    .message-item(ng-repeat='event in events')
      .message-inner
        .message-head.clearfix
          .message-icon.pull-left
            a(href='#')
              i.glyphicon.glyphicon-check
          button.btn.btn-danger.pull-right(type='button' ng-click='deleteEvent(event._id)') Delete
          .user-detail
            h5.handle  
              span {{event.date | amUtc | amLocal | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss A'}}
            .post-type
              p {{ event.cameraName }} - {{ event.cameraLocation }}
            .post-time
              p
                i.glyphicon.glyphicon-time
                | 
                span(am-time-ago="event.date")
        .qa-message-content
          p Image preview will go here
