doctype html
html(ng-app='cameraServer' lang='en')
  head
    title #{title}
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/timeline.css')
    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js')
    script(src='/javascripts/moment.js')
    script(src='/javascripts/angular-moment.js')
    script(src='/javascripts/controllers/eventsController.js')
    script(src='/javascripts/services/events.js')
    script(src='/javascripts/core.js')
  
  body
    block content
