.row
  h3 Cameras
  ul
    li
      a(href='#')
        i.glyphicon.glyphicon-camera
        | All
    li
      a(href='#')
        i.glyphicon.glyphicon-camera
        | PiCamera 1
.row
  h3 Locations
  ul
    li
      a(href='#')
        i.glyphicon.glyphicon-map-marker
        | All
    li
      a(href='#')
        i.glyphicon.glyphicon-map-marker
        | Front Door
